/* Global */
:root {
  --main-font: "Noto Serif KR", serif;
  --sub-font: "Noto Sans KR", sans-serif;

  /* Color */
  --color-white: #fff;
  --color-dark-white: #ddd;
  --color-light-white: #f0f0f0;
  --color-orange: #ffce77;
  --color-dark-grey: #707070;
  --color-grey: #aaa;
  --color-light-grey: #c5c5c5;
  --color-black: #000;

  /* Font size */
  --font-huge: 12.5rem;
  --font-large: 2rem;
  --font-medium: 1.125rem;
  --font-regular: 1rem;
  --font-small: 0.875rem;
  --font-micro: 0.75rem;

  /* Font weight */
  --weight-light: 200;
  --weight-regular: 400;
  --weight-medium: 500;
  --weight-bold: 700;

  /* Size */
  --size-border-radius: 0.25rem;

  /* Animation Duration */
  --animation-duration: 300ms;
}
/* Universal tags */
* {
  box-sizing: border-box;
  cursor: default;
}

body {
  margin: 0;
  font-family: var(--main-font);
}

ul {
  list-style: none;
  padding-left: 0;
}

a {
  text-decoration: none;
  color: var(--color-dark-grey);
}

a:hover {
  cursor: pointer;
  color: var(--color-black);
}

button {
  font-family: var(--main-font);
  background-color: transparent;
  cursor: pointer;
  border: none;
  outline: none;
}

::-webkit-scrollbar {
  height: 0.75rem;
  z-index: 99;
}

::-webkit-scrollbar-thumb {
  border-radius: 0.5rem;
  background-color: var(--color-light-grey);
  background-clip: padding-box;
  border: 1px solid transparent;
}

::-webkit-scrollbar-track {
  border-radius: 0.5rem;
  background-color: var(--color-white);
  box-shadow: inset 0px 0px.5rem rgb(200, 200, 200, 0.5);
}

/* Section common */
.section {
  text-align: left;
  padding: 4.35rem 1rem;
  margin: 0 auto;
}
.section__container {
  max-width: 1200px;
  margin: 0 auto;
}

.section__title {
  margin: 0 0 1.5rem;
  font-size: var(--font-huge);
  font-weight: var(--weight-bold);
  line-height: var(--font-huge);
  text-shadow: -1px 0 var(--color-dark-grey), 0 1px var(--color-grey),
    1px 0 var(--color-dark-grey), 0 -1px var(--color-grey);
  z-index: -1;
}

.section:nth-child(2n + 1) {
  background-color: var(--color-white);
}

.section:nth-child(2n) {
  background-color: var(--color-light-white);
}

.section:nth-child(2n + 1) .section__title {
  color: var(--color-white);
  text-align: right;
}

.section:nth-child(2n) .section__title {
  color: var(--color-light-white);
  text-align: left;
}

/* -------------------------------------------------- */
/* Typography */
h1 {
  font-size: 1.25rem;
  font-weight: var(--weight-bold);
  color: var(--color-dark-grey);
  margin: 0.5rem 0;
}

h2 {
  font-size: var(--font-medium);
  font-weight: var(--weight-medium);
  color: var(--color-dark-grey);
  margin: 0.5rem 0;
}

h3 {
  font-size: var(--font-regular);
  font-weight: var(--weight-regular);
  color: var(--color-dark-grey);
  margin: 0.5rem 0;
}

p {
  font-size: var(--font-regular);
  font-weight: var(--weight-regular);
  margin: 0.25rem 0;
}

/* Navbar */
#navbar {
  position: fixed;
  width: 100%;
  background-color: transparent;
  color: var(--color-dark-grey);
  padding: 1rem;
  z-index: 1;
  transition: all var(--animation-duration) ease-in;
}

#navbar.navbar__color {
  background-color: var(--color-light-white);
  padding: 0.5rem;
}

.navbar__container {
  max-width: 1200px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.icon {
  width: 2rem;
  height: 2rem;
}

.navbar__menu {
  display: flex;
  margin: 0;
}

.navbar__logo {
  font-size: var(--font-medium);
  font-weight: var(--weight-semi-bold);
  display: flex;
  align-items: center;
}
.navbar__logo a {
  margin-left: 0.25rem;
}
.navbar__logo.hide {
  display: none;
}

.navbar__menu__item {
  padding: 0.5rem 0.75rem;
  margin: 0.25rem;
  cursor: pointer;
  border-radius: var(--size-border-radius);
  border: solid 1px transparent;
}

.navbar__menu__item:hover {
  color: var(--color-black);
  font-weight: var(--weight-medium);
  cursor: pointer;
  transition: all var(--animation-duration) ease;
}

.navbar__toggle-btn {
  font-size: var(--font-medium);
  color: var(--color-dark-grey);
  display: none;
}

.navbar__toggle-btn:hover * {
  cursor: pointer;
}

/* Home */
#home {
  text-align: left;
  padding: 6rem 3rem 3rem;
  background-color: var(--color-light-white);
  transition: all 1s ease-in;
}

.home__container {
  max-width: 1200px;
  margin: 0 auto;
}

.home__avatar {
  margin-top: 3rem;
  width: 30rem;
  height: 20rem;
  object-fit: cover;
  object-position: top;
  opacity: 0.9;
}

.home__title,
.home__description {
  color: var(--color-dark-grey);
}

.home__contact {
  padding-bottom: 0.2rem;
  margin-top: 2rem;
  /* border-bottom: 1px solid var(--color-black); */
  display: flex;
  align-items: center;
  font-size: var(--font-regular);
  font-weight: var(--weight-medium);
  color: var(--color-black);
}

.home__contact > svg {
  width: var(--font-medium);
  height: var(--font-medium);
  transform: translateX(-0.5rem);
}

.home__contact:hover svg {
  animation: moveRight 1200ms infinite;
}

@keyframes moveRight {
  0% {
    transform: translateX(-0.75rem);
    opacity: 0.6;
  }

  100% {
    transform: translateX(-0.25rem);
  }
}

.home__contact:hover * {
  cursor: pointer;
}

/* About */

#about {
  text-align: left;
}

.about__contents {
  display: flex;
  align-items: center;
}

.about__majors {
  display: flex;
  justify-content: space-between;
  margin: 4rem 0;
}
.major {
  flex-basis: 49%;
  padding: 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 1px solid var(--color-dark-white);
  border-radius: var(--size-border-radius);
}

.major__icon {
  text-align: center;
  font-size: 4.75rem;
  color: var(--color-dark-white);
}

.major:first-child .major__icon {
  font-size: 5.4rem;
}

.major__title {
  font-weight: var(--weight-bold);
}

.major__description,
.major__title {
  color: var(--color-dark-grey);
}

.major__description {
  text-align: center;
  font-size: var(--font-small);
  width: 80%;
}

.major__icon:hover i {
  animation: color-vibe var(--animation-duration) ease;
  color: var(--color-orange);
  transform: scale(1.03);
}

@keyframes color-vibe {
  25% {
    transform: rotate(-5deg);
  }

  50% {
    transform: rotate(0deg);
  }
  75% {
    transform: rotate(5deg);
  }
}

.job {
  display: flex;
  justify-content: space-between;
}

.job__logo {
  width: 3rem;
  height: 3rem;
}
.job__description {
  min-width: 6.75rem;
  margin-right: 1rem;
  display: flex;
  align-items: center;
}

.job__divider {
  margin-left: 1rem;
}

.job__name {
  color: var(--color-black);
  font-size: var(--font-small);
}

.job__period {
  color: var(--color-grey);
  font-size: var(--font-micro);
}

/* Work -- category*/
#work {
  max-width: 1200px;
}

.work__categories {
  margin: 1rem 0;
}

.category__btn {
  position: relative;
  border: 1px solid var(--color-grey);
  border-radius: var(--size-border-radius);
  font-size: var(--font-regular);
  padding: 0.5rem 2.5rem;
  color: var(--color-dark-grey);
}

.category__btn.selected,
.category__btn:hover {
  background-color: var(--color-grey);
  color: var(--color-white);
}

.category__btn.selected .category__count,
.category__btn:hover .category__count {
  opacity: 1;
  bottom: 15%;
  cursor: pointer;
}
.category__count {
  background-color: var(--color-orange);
  border-radius: 50%;
  color: var(--color-white);
  width: 1.25rem;
  height: 1.25rem;
  line-height: 1.25rem;
  display: inline-block;
  position: absolute;
  right: 0.5rem;
  bottom: 0.25rem;
  opacity: 0;
  font-size: var(--font-micro);
  transition: all var(--animation-duration) linear;
}

/* Work --project */
.work__projects {
  display: flex;
  flex-flow: wrap;
  justify-content: flex-start;
  opacity: 1;
  transition: all var(--animation-duration) ease-out;
}

.work__projects.anim__effect {
  opacity: 0;
  transform: scale(0.98) translateY(0.625rem);
}

.project {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 20rem;
  height: 15.625rem;
  margin: 3px;
  padding: 1.25rem;
  background-color: var(--color-light-white);
}
.project.hide {
  display: none;
}

.project:hover *,
.project__description:hover * {
  cursor: pointer;
}

.project__img {
  max-width: 100%;
  max-height: 100%;
}

.project__description {
  position: absolute;
  left: 0;
  top: 0;
  background-color: var(--color-dark-grey);
  width: 100%;
  height: 100%;
  display: flex;
  padding: 0 0.25rem;
  flex-direction: column;
  justify-content: center;
  opacity: 0;
  transform: translateY(0.25rem);
  transition: all var(--animation-duration) ease;
}

.project__description:hover {
  opacity: 0.92;
  transform: translateY(0);
}

.project__description h3 {
  color: var(--color-white);
}

.project__description h3:after {
  content: "";
  display: block;
  width: 3rem;
  height: 1px;
  background-color: var(--color-light-grey);
  margin-top: 0.25rem;
}

/* Contact */
#contact {
  text-align: center;
  margin-bottom: 0;
}

.contact__email,
.contact__rights {
  color: var(--color-dark-grey);
}

.contact__links {
  font-size: var(--font-large);
  margin: 1.5rem 0;
}
.contact__email {
  transition: all var(--animation-duration) ease;
}
.contact__links i {
  transition: all var(--animation-duration) ease;
  margin: 0 0.625rem;
}

.contact__links:hover *,
.contact__email:hover {
  color: var(--color-black);
  cursor: pointer;
}

.contact__rights {
  font-size: var(--font-small);
}

/* Arrow button */
.arrow-up {
  position: fixed;
  right: 2rem;
  bottom: 2rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  color: var(--color-dark-grey);
  padding: 0;
  z-index: 2;
  opacity: 0;
  pointer-events: none;
  transition: all var(--animation-duration) ease;
}

.arrow-up > svg {
  color: var(--color-dark-gray);
}

.arrow-up > #chevon-up {
  width: var(--font-large);
  height: var(--font-large);
  stroke-width: 1.5;
  transform: translateY(0.875rem);
}

.arrow-up > #circle {
  width: 0.625rem;
}

.arrow-up.visible {
  opacity: 1;
  pointer-events: auto;
}

.arrow-up.visible:hover svg {
  cursor: pointer;
}

.arrow-up.visible:hover {
  animation: upDown 1200ms infinite;
}

@keyframes upDown {
  0% {
    transform: translateY(-0.75rem);
  }

  100% {
    transform: translateY(-1.25rem);
  }
}

/* Media Query for below w768 */
@media screen and (max-width: 768px) {
  :root {
    --font-huge: 10rem;
  }

  html {
    font-size: 14px;
  }

  .section {
    text-align: center;
    padding: 3rem 1rem;
    margin: 0 auto;
  }

  .navbar__toggle-btn,
  .navbar__toggle-btn i {
    display: block;
    cursor: pointer;
  }

  #navbar {
    flex-direction: column;
    align-items: flex-start;
    background-color: var(--color-light-white);
  }

  .navbar__container {
    flex-direction: column;
  }

  .navbar__logo {
    width: 100%;
    display: flex;
    justify-content: space-between;
  }

  .navbar__menu {
    margin-top: 1rem;
    flex-direction: column;
    text-align: center;
    width: 100%;
    display: none;
  }

  .navbar__menu.open {
    display: block;
    margin-bottom: 0;
  }

  #navbar.navbar__color {
    padding: 1rem;
  }

  #home {
    padding: 3rem 1rem;
  }

  #about {
    text-align: center;
  }

  .s {
    flex-basis: 20%;
    min-width: none;
  }

  .category__btn {
    margin: 2px 0;
  }

  .project {
    flex-grow: 1;
  }

  .project__description h3:after {
    margin-left: auto;
    margin-right: auto;
  }

  #contact {
    padding: 1rem;
  }

  .arrow-up {
    bottom: 1rem;
    right: 1rem;
  }
}

/* Media Query for below w480 */
@media screen and (max-width: 480px) {
  :root {
    --font-huge: 5rem;
  }

  .home__avatar {
    width: 100%;
  }

  .job {
    display: flex;
    flex-direction: column;
  }

  .job__description {
    flex-direction: column;
  }

  .section:nth-child(2n + 1) .section__title,
  .section:nth-child(2n) .section__title {
    text-align: center;
  }

  .about__majors {
    flex-direction: column;
    margin: 2rem 0 0;
  }

  .major {
    margin-bottom: 1rem;
  }
}
