/* Global */
:root {
    /* Color */
    --color-white: #ffffff;
    --color-light-white: #eceff1;
    --color-dark-white: #cfd8dc;
    --color-green: #e6ee9c;
    --color-orange:#ffd180;
    --color-dark-grey: #455a64;
    --color-grey: #78909c;
    --color-light-grey: #b0bec5;
    --color-light-green: #ffffce;
    --color-dark-purple: #2910a3;
    --color-purple: #663fd6;
    --color-black: #000000;
  
    /* Font size */
    --font-large: 48px;
    --font-medium: 28px;
    --font-regular: 18px;
    --font-small: 16px;
    --font-micro: 14px;
  
    /* Font weight */
    --weight-bold: 700;
    --weight-semi-bold: 600;
    --weight-regular: 400;
  
/* Size */
}
/* Universal tags */
*{
    box-sizing: border-box;
}
/* -------------------------------------------------- */
/* Typography */
h1 {
    font-size: var(--font-large);
    font-weight: var(--weight-bold);
    color: var(--color-black);
    margin: 16px 0;
}

h2{
    font-size: var(--font-medium);
    font-weight: var(--weight-semi-bold);
    color: var(--color-black);
    margin: 8px 0;
}

h3 {
    font-size: var(--font-regular);
    font-weight: var(--weight-regular);
    color: var(--color-black);
    margin: 8px 0;
}

p {
    font-size: var(--font-regular);
    font-weight: var(--weight-regular);
    color: var(--color-black);
    margin: 4px 0;
}
/* -------------------------------------------------- */
.icon {     
    width: 32px;        
    height: 32px;  
   }


